*
{
    margin: 0;
    padding: 0;
    background:#8c7ae6;
}

h1{
    font-family: cursive;
    margin-left: 32%;
    text-align: center;
    background-color: #44bd32;
    font-size: 100px;
    width: 700px;
    border-radius: 50px;
}

.tableau{
    margin-top: 200px;
    margin-left: 20%;;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.j1{
    grid-template-columns: 1;
}

#txtPseudo1{
    font-family: cursive;
    text-align: center;
    width: 400px;
    font-size: 50px;
    background-color: #44bd32;
    border-radius: 50px;
    
}

#txtPseudo2{
    font-family: cursive;
    text-align: center;
    width: 400px;
    font-size: 50px;
    background-color: #44bd32;
    border-radius: 20px;
}


.J2{
    grid-template-columns: 2;
}

#pseudo2{
    background-color: #dcdde1;
    margin-top: 15px;
    font-family: cursive;
    text-align: center;
    width: 400px;
    font-size: 50px;

}

#pseudo1{
    background-color: #dcdde1;
    margin-top: 15px;
    font-family: cursive;
    text-align: center;
    width: 400px;
    font-size: 50px;

}



#playButton{
    width : 500px;
    background-color: #dcdde1;
    margin-top: 100px;
    margin-left: 35%;
    text-align: center;
    font-family: cursive;
    font-size: 70px;
}


