table tr td {
    border: 1px solid black;
}

table{
    /*margin:0 auto;*/
    text-align: center;
    
}

header{
    text-align: center;
    font-size: 50px;
    background-color: gray;
}


.grid{
    display : grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.boutonAbandon{
    font-size: 30px;
    background-color: black;
    color: white;
    margin:auto;
    vertical-align:center;
    
}

.AbandonDiv{
    grid-column:1;
    grid-row:2;
    margin:auto;
}

.tourJoueurDiv{

    color:white;
    background-color: black; 
    font-size: 30px;
    border-radius: 10px;
    width:325px;
    grid-row:1;
    grid-column:1;
    margin:auto;

}

.tour_div{
    display:grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: auto;
}

.plato{
    grid-column: 2 ;
    grid-row:1;
    margin:auto;
    
}

.nom_pseudo{
    display:grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.pseudo1div{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    grid-column:1;
    grid-row:1;
    width:auto;
    height:80px;
    text-align:center;
}

.nbCoups1div{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    grid-column:1;
    grid-row:2;
    width:auto;
    height:80px;
    text-align:center;
}

.pseudo2div{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    grid-column:2;
    grid-row:1;
    width:auto;
    height:80px;
    text-align:center;
}

.nbCoups2div{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    grid-column:2;
    grid-row:2; 
    width:auto;
    height:80px;
    text-align:center;
}

